/*OmbiFlix Dark*/
.dark .mat-fab.mat-accent, .dark .mat-flat-button.mat-accent, .dark .mat-mini-fab.mat-accent, .dark .mat-raised-button.mat-accent, .dark .mat-list-item.active-list-item, .dark .mat-checkbox-checked.mat-accent .mat-checkbox-background, .dark .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .dark .buttons button[type="button"], .dark .mat-tab-label-active[role="tab"] {
color: rgba(33, 33, 33, 1) !important;
background-color: #a30000 !important;
}
.dark .mat-list-base .mat-list-option {
 color:#212121 !important;
}
form-control {
    color: #a30000 !important;
    background-color: #333;
    border-radius: 5px;
}
.custom-background {
    background-color: #101010 !important;
}
.dark .mat-raised-button:not([class*="mat-elevation-z"]) {
    box-shadow: 0 3px 1px -2px rgba(16,16,16,1),0 2px 2px 0 rgba(16,16,16,1),0 1px 5px 0 rgba(16,16,16,1) !important;
}
/*Colored UI (Red)*/
.navbar-default .navbar-brand {
color: #a30000 !important;
}
.nav>li>a:focus, .nav>li>a:hover {
color: #a30000 !important;
background-color: #fff !important;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
color: #a30000;
background-color: #fff !important;
}
.pace .pace-progress {
background: #a30000 !important;
position: fixed;
z-index: 2000;
top: 0;
right: 100%;
width: 100%;
height: 5px;
}

/*Longer Mobile Search Bar*/
app-nav-search mat-form-field{
    margin-left: -50%;
    min-width: 200%
}

/*Background*/
.dark .mat-drawer {
    color: #fff !important;
}
.dark .mat-drawer-container {
    color: #fff !important;
}
/*RED SCROLL BAR*/
body, html {
    scrollbar-color: #a30000 #212121
}
/*HOVER TABS*/
.mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
 background:rgba(155,0,0,1) !important;
}

/*BACKGROUND*/
/*Main Page Background*/
.dark .mat-drawer-container {
    background-color: #101010 !important;
    color: #fff;
}
/*Sidebar Background*/
.dark .mat-drawer, .dark .mat-drawer.mat-drawer-push {
    background-color: #101010;
}
.outer-profile {
    background-color: #101010 !important;
    box-shadow: inset 0 0 3px #fff;
    padding: 1px;
}
.dark .mat-toolbar.mat-primary {
    background: #101010 !important;
}
.dark .active-list-item {
    background: #a30000 !important;
    color: #fff !important;
    font-weight: 500;
}
/*SIDEBAR ICONS*/
.profile-img-container url(https://i.imgur.com/cE02eEP.png) {
 margin:20px auto 10px;
 overflow:hidden;
 text-align:center;
 width:80%
}
.input-addon, .input-group-addon {
    color: #a30000 !important;
}
.input-addon, .input-group-addon {
    color: #a30000!important;
}

/*Button Sidebar Hover*/
.dark .mat-action-list .mat-list-item:focus, .dark .mat-action-list .mat-list-item:hover, .dark .mat-list-option:focus, .dark .mat-list-option:hover, .dark .mat-nav-list .mat-list-item:focus, .dark .mat-nav-list .mat-list-item:hover {
    background: hsl(0, 100%, 50%) !important;
}
.dark .mat-toolbar {
    background: #101010;
    color: #fff;
}
.dark .mat-fab.mat-primary, .dark .mat-flat-button.mat-primary, .dark .mat-mini-fab.mat-primary, .dark .mat-raised-button.mat-primary {
    background-color: #a30000 !important;
}
/*Progress Bar Colors*/
.mat-progress-bar-background {
 fill:#a30000 !important !important
}

/*Button Current Selection*/
.dark .mat-fab.mat-accent, .dark .mat-flat-button.mat-accent, .dark .mat-mini-fab.mat-accent, .dark .mat-raised-button.mat-accent {
    background-color: #a30000 !important;
}
.dark .mat-fab.mat-accent, .dark .mat-flat-button.mat-accent, .dark .mat-mini-fab.mat-accent, .dark .mat-raised-button.mat-accent {
    color: #fff !important;
}

/*Login Page Edits*/
/*Background for Login*/
.dark .mat-card {
 background:#101010 !important;
 color:#fff
}

/*Main Page Button Hovers*/
.btn-primary:hover {
 color:#fff;
 background-color:#a30000 !important;
 border-color:#a30000 !important;
}
.btn:hover {
 color:#a30000 !important;
 text-decoration:none
}
.grow:hover {
    transform: scale(1.1);
    color: #fff !important;
}

/*Test*/
.mat-button:hover .mat-button-focus-overlay,
.mat-stroked-button:hover .mat-button-focus-overlay {
 opacity:1;
 color: #a30000 !important;
}

/*Random UI Stuff*/
.mat-icon.mat-accent {
 color:#ffd740
}
.mat-icon.mat-warn {
 color:#990a00
}
.mat-accent .mat-option.mat-selected:not(.mat-option-disabled) {
 color:#a30000 !important;
}
.mat-accent .mat-pseudo-checkbox-checked,
.mat-accent .mat-pseudo-checkbox-indeterminate,
.mat-pseudo-checkbox-checked,
.mat-pseudo-checkbox-indeterminate {
 background:#a30000 !important;
}
.mat-badge-accent .mat-badge-content {
 background:#a30000 !important;
 color:rgba(0,0,0,.87)
}
.mat-button.mat-accent,
.mat-icon-button.mat-accent,
.mat-stroked-button.mat-accent {
 color:#a30000 !important;
}
.mat-button.mat-accent .mat-button-focus-overlay,
.mat-icon-button.mat-accent .mat-button-focus-overlay,
.mat-stroked-button.mat-accent .mat-button-focus-overlay {
 background-color:#a30000 !important;
}
.mat-fab.mat-accent,
.mat-flat-button.mat-accent,
.mat-mini-fab.mat-accent,
.mat-raised-button.mat-accent {
 background-color:#a30000 !important;
}
.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
 background-color:#a30000 !important;
}
.mat-checkbox-checked:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element,
.mat-checkbox:active:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element {
 background:#a30000 !important; 
}
.mat-chip.mat-standard-chip.mat-chip-selected.mat-accent {
 background-color:#a30000 !important;
 color:rgba(0,0,0,.87)
}
.mat-datepicker-content.mat-accent .mat-calendar-body-selected {
 background-color:#a30000 !important;
 color:rgba(0,0,0,.87)
}
.mat-slide-toggle.mat-checked .mat-ripple-element {
 background-color:#a30000 !important;
}

.mat-progress-bar.mat-accent .mat-progress-bar-fill:after {
 background-color:#a30000 !important;
}
.mat-progress-spinner.mat-accent circle,
.mat-spinner.mat-accent circle {
 stroke:#a30000 !important;
}

/*Button Colors*/

.dark .mat-toolbar.mat-accent {
 background:#a30000 !important;
 color:rgba(0,0,0,.87) !important
}
.dark .mat-tooltip {
 background:rgba(155, 0, 0, 1) !important
}
.dark .mat-tree {
 background:#101010
}
.dark .mat-toolbar {
 background:#101010 !important;
 color:#fff


}
.dark .mat-toolbar.mat-primary {
 background:#101010 !important;
 color:#fff
}
.dark .mat-toolbar.mat-accent {
 background:#a30000 !important;
 color:rgba(0,0,0,.87)
}
.dark .mat-toolbar.mat-warn {
 background:#a30000 !important;
 color:#fff !important
}

/*Submit Button*/
.btn-primary-outline {
    -o-transition: all .218s;
    -moz-transition: all .218s;
    -webkit-transition: all .218s;
    transition: all .218s;
    color: #a30000 !important;
    background-color: transparent;
    background-image: none;
    border-color: #a30000 !important;
}
/*Scroller*/
::-webkit-scrollbar-thumb {
    min-height: 50px;
    background-color: hsl(0, 100%, 32%) !important;
    border: 3px solid transparent;
    border-radius: 8px;
    background-clip: padding-box;
}
/*Main Titles Text Color*/
body {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #a30000 !important;
}
/*Submit Buttons Colors*/
.btn-primary-outline.active, .btn-primary-outline.focus, .btn-primary-outline:active, .btn-primary-outline:focus, .btn-primary-outline:hover, .open>.btn-primary-outline.dropdown-toggle {
    color: #a30000 !important;
    background-color: #fff !important;
    border-color: #fff !important;
}
/*Dropdown Menu Buttons*/
.input-group-addon .btn-group .btn {
    border: 1px solid hsla(0,0%,100%,.7)!important;
    padding: 3px 12px;
    color: hsla(0, 100%, 32%, 1)!important;
}
.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #a30000 !important;
    white-space: nowrap;
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    text-decoration: none;
    background-color: #fff !important;
    outline: 0;
}
.dropdown-menu .divider, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover, .input-group-addon {
    background-color: #fff !important;
}
/*Nav Bar*/
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #a30000 !important;
    background-color: #fff !important;
    border: 1px solid #fff !important;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    background-color: #FFFF !important;
    color: #a30000 !important;
    border: 1px solid #a30000 !important;
}
/*Search Nav and Buttons*/
.btn-success-outline {
    -o-transition: all .218s;
    -moz-transition: all .218s;
    -webkit-transition: all .218s;
    transition: all .218s;
    color: #a30000 !important;
    background-color: transparent;
    background-image: none;
    border-color: #a30000 !important;
}
.btn-info-outline {
    -o-transition: all .218s;
    -moz-transition: all .218s;
    -webkit-transition: all .218s;
    transition: all .218s;
    color: #fff!important;
    background-color: transparent;
    background-image: none;
    border-color: #fff !important;
}
.btn-info-outline.active, .btn-info-outline.focus, .btn-info-outline:active, .btn-info-outline:focus, .btn-info-outline:hover, .open>.btn-info-outline.dropdown-toggle {
    color: #fff!important;
    background-color: #fff!important;
    border-color: #a30000!important;
}
.ui-state-highlight {
    background: #fff !important;
}
